@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <!-- <div style="background-image:none; background-color:steelblue;" class="sidebar">
         <NavMenu />
    </div>
    -->
    <main>
        <article class="content px-4">
            <div class="d-flex justify-content-center">
            @Body
            </div>
        </article>
    </main>
</div>
