@page "/deleteEntry"
@using MusicTimeClient.Contracts
@using MusicTimeClient.Models.Entry

<button type="button" @onclick="() => OnButtonClick(EntryId)" class="btn btn-primary"> Delete</button>

@code {
    //TODO: Reserach a better way to Delete the Entry in Db and local in Blazor
    // In this Page the DB entry gets deleted, but i need a callback back to the calle to delete the entry from the local List
    // Research the right way


    //TODO: Move the Local Data inside the Model, than you can inject it through EntryService
    [Inject]
    public IEntryService? EntryService { get; set; }
    [Parameter]
    public int EntryId { get; set; }
    [Parameter] 
    public EventCallback<int> OnDelete { get; set; }

    public async void OnButtonClick(int entryId)
    {
        //Reserach a better way to Delete the Entry in Db and local in Blazor
        if (EntryService is not null)
            EntryService.DeleteEntry(entryId);

            if(OnDelete.HasDelegate)
                await OnDelete.InvokeAsync(entryId);
    }
}
