@page "/entryList"
@using MudBlazor
@using MusicTimeClient.Contracts
@using MusicTimeClient.Models

@inject IDialogService DialogService

<div class="container ">
    <h3 class="text-center">♥Music and Guitar♥</h3>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" @onclick="OnAddShow">Add Entry</button>
    </div>
    @if (isAddEntryToggle)
    {
        <AddEntry OnClick="OnAddEntry" />
        <br />
    }

    @if (EntryService is null)
    {
        <p class="text-center">Loading...</p>
    }
    else
    {
        //TODO: Check when edit data if values are valid( Duration > 0 || string.empty(Description))
        //Maybe use ValueChanged callback?
        <MudDataGrid EditTrigger="DataGridEditTrigger.OnRowClick" T="Entry" Bordered="true" CommittedItemChanges="@CommitedItemChange" EditMode="DataGridEditMode.Form" ReadOnly="false" Items="@Entries">
            <Columns>
                <PropertyColumn Editable="false" Property="x => x.DateToString()" Title="Date"></PropertyColumn>
                <PropertyColumn Property="x => x.DurationInMinutes" Title="Time"></PropertyColumn>
                <PropertyColumn Property="x => x.Description" Title="Description"></PropertyColumn>
                <TemplateColumn>
                    <CellTemplate>
                        <MudButton @onclick=" () => OpenDeleteDialogAsync(context.Item.Id)" Variant="Variant.Filled">Delete</MudButton>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
</div>

@code {
    [Inject]
    public IEntryService? EntryService { get; set; }
    [Parameter]
    public int EntryId { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    public List<Entry> Entries = new List<Entry>();
    public bool isAddEntryToggle;

    public async Task OnAddEntry()
    {
        await FetchList();
    }

    private void OnAddShow(MouseEventArgs e)
    {
        isAddEntryToggle = !isAddEntryToggle;
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchList();
    }

    private async Task FetchList()
    {
        if (EntryService is not null)
        {
            Entries = (await EntryService.GetAllEntries()).ToList();
            Entries.Reverse();
            StateHasChanged();
        }
    }
    public async void CommitedItemChange(Entry entry)
    {
        if (EntryService is not null)
            await EntryService.UpdateEntry(entry);

        await FetchList();
    }

    private async void OpenDeleteDialogAsync(int entryId)
    {
        var parameter = new DialogParameters<int>();
        parameter.Add("EntryId", entryId);
        var dialog = await DialogService.ShowAsync<DeleteDialog>("Wanna Delete?", parameter);
        var result = await dialog.Result;

        if (!result.Canceled)
            DeleteEntry(entryId);
    }

    public async void DeleteEntry(int entryId)
    {
        if (EntryService is not null)
            await EntryService.DeleteEntry(entryId);

        await FetchList();
    }
}